@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}
.header{
    width: 100%;
    height: auto;
}
.conteiner1{
    padding: 20px 0px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.asist1{
     padding: 0px 70px;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.flex1{
    display: flex;
    gap: 70px;
    align-items: center;
}
.btn1{
    padding: 10px 30px;
    color: white;
    background-color: orangered;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.img1{
    position: absolute;
    z-index: -1;
    margin-top: -50px;
       transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
    height: 648px;
    transform: translateX(932px);
}
.text1{
    padding-top: 70px;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 700;
}
.kalima1{
    color: orangered;
}
.conteiner2{
    width: 100%;
    height: 647px;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.asist2{
    padding: 50px 150px;
}
.text2{
    font-weight: 300;
    font-size: 25px;
    margin-top: 20px;
}
.btn2{
    padding: 10px 15px;
    color: white;
    background-color: orangered;
    border: none;
    font-size: 17px;
    margin-top: 70px;
    text-transform: uppercase;
}
.btn2:hover{
    background-color: rgb(255, 96, 38);
}
.btn2:active{
    cursor: pointer;
    transform: translateY(-20px);
}
.conteiner3{
    height: 180px;
    width: 100%;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.img2{
    width: 100%;
}
.main{
    width: 100%;
    height: 3000px;
}
.conteiner4{
    width: 100%;
    height: auto;
}
.asist4{
    padding: 80px 50px;
}
.knop1{
    margin-left: 80px;
    border-radius: 20px;
    width: 1600px;
    height: 300px;
    background-color: #212121;
    padding: 80px 50px;
    display: flex;
    justify-content: space-around;
}
.img3{
    height: 620px;
    width: 1000px;
    position: absolute;
    z-index: -1;
}
.text3{
        font-size: 110px;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
}
.text4{
    color: white;
    font-size: 20px;
}
.img4{
    margin-top: 50px;
    margin-right: 10px;
}
.text5{
      color: white;
    font-size: 20px;
}
.img5{
     margin-top: 30px;
    margin-right: 10px;
}
.conteiner5{
    width: 100%;
    height: auto;
    position: relative;
}
.asist5{
    padding: 50px 150px;
}
.img6{
    position: absolute;
    top: 50px;
    left: 20px;
}
.img7{
    position: absolute;
    top: 80px;
    left: 270px;
}
.img8{
    position: absolute;
    top: 110px;
    left: 490px;
}
.kalima2{
    color: orangered;
    font-weight: 600;
    margin-right: 50px;
}
.flex2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img9{
    margin-top: 180px;
}
.text6{
    font-size: 20px;
    margin-top: 20px;
}
.btn3{
    padding: 7px 15px;
    font-size: 20px;
    margin-top: 30px;
    color: orangered;
    background-color: inherit;
    border: 1px solid orangered;
}
.conteiner6{
    width: 100%;
    height: auto;
    margin-top: 300px;
}
.asist6{
    padding: 80px 50px;
}
.knop2{
     margin-left: 80px;
    border-radius: 20px;
    width: 1600px;
    height: 500px;
    background-color: #212121;
    padding: 80px 50px;
}
.img10{
     height: 820px;
    width: 1000px;
    position: absolute;
    z-index: -1;
}
.img11{
     margin-top: 60px;
    margin-right: 10px;
}
.flex3{
     display: flex;
    justify-content: space-around;
}
.text7{
    color: white;
    font-size: 20px;
}
.text8{
    color: white;
    font-size: 20px;
}
.flex4{
    display: flex;
    justify-content: center;
    gap: 390px;
    margin-top: 30px;
}
.conteiner7{
    width: 100%;
    height: auto;
}
.asist7{
    padding: 50px 150px;
}
.text9{
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
}
.knop3{
    width: 540px;
    height: 120px;
    padding: 20px;
    box-shadow: 1px 1px 5px grey;
    margin-top: 30px;
}
.text10{
    display: flex;
    gap: 10px;
    line-height: 25px;
}
.text11{
    color: orangered;
    font-family: cursive;
    margin-left: 65px;
}
.text12{
    margin-top: 10px;
    font-weight: 600;
    margin-left: 65px;
}
.flex5{
    display: flex;
    justify-content: space-around;
}