@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}
.header{
    width: 100%;
    height: auto;
}
.conteiner1{
    padding: 20px 0px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.asist1{
     padding: 0px 70px;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.flex1{
    display: flex;
    gap: 70px;
    align-items: center;
}
.btn1{
    padding: 10px 30px;
    color: white;
    background-color: orangered;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.btn1:hover{
    background-color: rgb(255, 96, 38);
}
.btn1:active{
    cursor: pointer;
    transform: translateY(-20px);
}
.img1{
    position: absolute;
    z-index: -1;
    margin-top: -50px;
       transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
    height: 648px;
    transform: translateX(932px);
}
.img2{
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}
.text1{
    padding-top: 70px;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 700;
}
.kalima1{
    color: orangered;
}
.conteiner2{
    width: 100%;
    height: 647px;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.asist2{
    padding: 50px 150px;
}
.text2{
    font-weight: 300;
    font-size: 25px;
    margin-top: 20px;
}
.btn2{
    padding: 10px 15px;
    color: white;
    background-color: orangered;
    border: none;
    font-size: 17px;
    margin-top: 70px;
    text-transform: uppercase;
}
.btn2:hover{
    background-color: rgb(255, 96, 38);
}
.btn2:active{
    cursor: pointer;
    transform: translateY(-20px);
}
.conteiner3{
    height: 180px;
    width: 100%;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.img2{
    width: 100%;
}
.main{
    width: 100%;
    height: 3000px;
}
.conteiner4{
    width: 100%;
    height: auto;
}
.asist4{
    padding: 80px 50px;
}
.knop1{
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transform: translateX(30px);
    transition-delay: 1s;
    margin-left: 50px;
    border-radius: 20px;
    width: 1600px;
    height: 300px;
    background-color: #212121;
    padding: 80px 50px;
    display: flex;
    justify-content: space-around;
}
.img3{
    height: 620px;
    width: 1000px;
    position: absolute;
    z-index: -1;
}
.text3{
        font-size: 110px;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
}
.text4{
    color: white;
    font-size: 20px;
}
.img4{
    margin-top: 50px;
    margin-right: 10px;
}
.text5{
      color: white;
    font-size: 20px;
}
.img5{
     margin-top: 30px;
    margin-right: 10px;
}
.conteiner5{
    width: 100%;
    height: auto;
    position: relative;
}
.asist5{
    padding: 50px 150px;
}
.img6{
     transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    transform: translateX(30px);
    position: absolute;
    top: 50px;
    left: 20px;
}
.img7{
     transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    position: absolute;
    top: 80px;
    transform: translateX(50px);
    left: 270px;
}
.img8{
     transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    position: absolute;
    transform: translateX(70px);
    top: 110px;
    left: 490px;
}
.kalima2{
    color: orangered;
    font-weight: 600;
    margin-right: 50px;
}
.flex2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img9{
    margin-top: 180px;
}
.text6{
    font-size: 20px;
    margin-top: 20px;
}
.btn3{
    padding: 7px 15px;
    font-size: 20px;
    margin-top: 30px;
    color: orangered;
    background-color: inherit;
    border: 1px solid orangered;
}
.btn3:hover{
    background-color: rgb(218, 218, 218);
}
.btn3:active{
    cursor: pointer;
    transform: translateY(-20px);
}
.conteiner6{
    width: 100%;
    height: auto;
    margin-top: 300px;
}
.asist6{
    padding: 80px 50px;
}
.knop2{
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transform: translateX(30px);
    transition-delay: 1s;
     margin-left: 50px;
    border-radius: 20px;
    width: 1600px;
    height: 500px;
    background-color: #212121;
    padding: 80px 50px;
}
.img10{
     height: 820px;
    width: 1000px;
    position: absolute;
    z-index: -1;
}
.img11{
     margin-top: 60px;
    margin-right: 10px;
}
.flex3{
     display: flex;
    justify-content: space-around;
}
.text7{
    color: white;
    font-size: 20px;
}
.text8{
    color: white;
    font-size: 20px;
}
.flex4{
    display: flex;
    justify-content: center;
    gap: 390px;
    margin-top: 30px;
}
.conteiner7{
    width: 100%;
    height: auto;
}
.asist7{
    padding: 50px 150px;
}
.text9{
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
}
.knop3{
    transition: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    transform: translateX(-200);
    width: 540px;
    height: 120px;
    padding: 20px;
    box-shadow: 1px 1px 5px grey;
    margin-top: 30px;
}
.text10{
    display: flex;
    gap: 10px;
    line-height: 25px;
}
.text11{
    color: orangered;
    font-family: cursive;
    margin-left: 65px;
}
.text12{
    margin-top: 10px;
    font-weight: 600;
    margin-left: 65px;
}
.flex5{
    display: flex;
    justify-content: space-around;
}
.conteiner8{
    width: 100%;
    height: auto;
    margin-top: 150px;
}
.asist8{
    padding: 80px 50px;
}
.knop4{
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transform: translateX(31px);
    transition-delay: 1s;
     margin-left: 50px;
    border-radius: 20px;
    width: 1600px;
    height: 500px;
    background-color: #212121;
    padding: 80px 50px;
}
.text13{
    color: white;
    font-size: 20px;
}
.imm{
    width: auto;
    height: auto;
    margin-top: -50px;
    transition: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    transform: translateY(50px);
}
.text14{
    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.text15{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: 650;
}
.flex6{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.none{
    display: none;
}
.kalima0001{
    color: orangered;
}
input{
    margin-top: 30px;
    width: 500px;
    color: rgb(240, 240, 240);
    padding: 8px 12px;
}
form{
    display: flex;
    align-items: center;
}
.btn4{
    margin-top: 30px;
    padding: 6px 8px;
    color: white;
    background-color: orangered;
    border: none;
    font-size: 20px;
}
.text16{
    color: grey;
    margin-top: 10px;
}
.footer{
    width: 100%;
    height: auto;
    margin-top: 1200px;
}
.conteiner9{
    width: 100%;
    height: 150px;
    background-color: #212121;
}
.asist9{
    padding: 50px 150px;
}
.yee{
    color: white;
}
.flex7{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 640px) {
    .header{
        width: 100%;
        height: auto;
    }
    ul{
        display: none;
    }
    .none{
        display: inline;
    }
    .asist1{
        padding: 10px 20px;
    }
    .btn1{
        display: none;
    }
    .conteiner2{
        width: 100%;
        height: auto;
    }
    .asist2{
        padding: 0px 20px;
    }
    .text1{
        font-size: 30px;
    }
    .text2{
        font-size: 20px;
    }
    .btn2{
        margin-bottom: 50px;
        border-radius: 8px;
    }
    .img1{
        display: none;
    }
    .img2{
        width: 380px; 
        height: 50px;
        margin-top: 50px;
    }
    .conteiner4{
        width: 100%;
        height: auto;
    }
    .asist4{
        padding: 0px;
    }
    .text3{
        width: 90%;
        margin: 0px;
        font-size: 30px;
    }
    .knop1{
        transition: none;
        transform: none;
        margin-right: 300px;
        margin: 10px;
        width: 90%;
        padding: 10px;
        height: 500px;
        flex-direction: column;
    }
    .text4{
        margin-top: -85px;
    }
    .text5{
        margin-top: 10px;
    }
    .img3{
        display: none;
    }
    .img6{
         transition: none;
        transform: none;
        width: 190px;
        height: 290px;
    }
    .img7{
         transition: none;
        transform: none;
       width: 190px;
        height: 290px;
        left: 120px;
    }
    .img8{
         transition: none;
        transform: none;
     width: 190px;
        height: 290px;
        left: 190px;
    }
    .conteiner5{
        width: 100%;
        height: auto;
    }
    .asist5{
        padding: 0px;
    }
    .flex2{
        flex-direction: column;
    }
    .im{
        margin-top: 300px;
    }
    .conteiner6{
        width: 100%;
        height: auto;;
        margin-top: 100px;
    }
    .asist6{
        padding: 0px;
    }
    .flex3{
        flex-direction: column;
}
.knop2{
     transition: none;
        transform: none;
    padding: 0;
    width: 80%;
    height: auto;
    margin: 0;
    margin-left: 40px;
    margin-top: 30px;
    padding: 10px;
}

    .text4{
        font-size: 18px;
        margin-top: 13px;
    }
    .text5{
        margin-top: 2px;
        margin: 0;
    }
    .flex4{
        flex-direction: column;
    }
    .text8{
        margin-top: -370px;
    }
    .img10{
        display: none;
    }
    .conteiner7{
        width: 100%;
        height: auto;
    }
    .asist7{
        padding: 0px;
    }
    .flex5{
        flex-direction: column;
    }
    .text9{
        margin-top: 20px;
        text-align: center;
        font-size: 50px;
    }
    .knop3{
         transition: none;
        transform: none;
        width: 90%;
        height: auto;
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 9px;
    }
    .imm{
        margin-right: 30px;
    }
    .conteiner8{
        width: 100%;
        height: auto;
    }
    .asist8{
        padding: 0;
    }
    .flex6{
        margin: 0px;
        flex-direction: column;
    }
    .knop4{
         transition: none;
        transform: none; 
        width: 90%;
        height: auto;
        margin: 0px;
        padding:10px;
        margin-left: 10px;
    }
    .text3{
        margin-right: 110px;
    }
    .text13{    
       margin-top: 30px;
        padding-left: 10px;
        width: 360px;
        padding-right: 0px;
        margin-left: 10px;
        font-size: 20px;
    }
    .text14{
         margin-top: 30px;
        padding-left: 10px;
        width: 360px;
        padding-right: 0px;
        margin-left: 10px;
        font-size: 20px;
    }
    .kalima0001{
        margin-left: 16px;
    }
    input{
        width: 100px;
        margin-left: 10px;
    }
    .text15{
        margin-left: 100px;
    }
    .text16{
        margin-left: 100px;
    }
    .conteiner9{
        margin-bottom: -400px;
        width: 100%;
        height: auto;
    }
    .asist9{
        padding: 10px;
    }
    .flex7{
        flex-direction: column;
    }
    .aa{
        width: 300px;
        margin-left: 70px;
    }
    .yee{
        text-align: center;
        margin-top: 10px;
    }
    .bb{
        width: 200px;
        margin-left: 100px;
        margin-top: 20px;
    }
    .text16{
        width: 210px;
        margin-left: 10px;
    }
    .xam-ya{
        width: 100%;
    }
    .text15{
        font-size: 20px;
        margin-left: 16px;
    }
}